body{
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgb(34, 114, 45);;
}
header{
font-size: 20px;
color: white;
}

main{
   background-color: white; 
   padding-bottom: 10px;
   width: 500px;
   height: 360px;
   margin-left: 30%;
   margin-right: 30%;
   margin-top: -20px;
}

.botao{
    margin: 10px;
    font-weight: bold;
}

#chances{
    text-align: end;
    padding-top: 5px;
    margin-right: 20px;
}

#traco{
    font-size: 30px;
    margin-top: 0%;
}

#valorLetra{
    width: 50px;
}

#dica{
    margin-top: -20px;
}

#tracos{
    margin-bottom: -10px;
}

#imgForca{
    text-align: start;
    padding-top: 5px;
    margin-left: 60px;
    margin-bottom: 0%;
}

footer{
    text-align: center;
    color: white;
}